.pokemonList{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    justify-items: center;
    margin-top: 10px;
    @media screen and (min-width: 200px) and (max-width:550px) {
        grid-template-columns: repeat(2,1fr);
    }
    @media screen and (min-width:551px) {
        grid-template-columns: repeat(3,1fr);
    }
}

.nullPokemon{
    position: absolute;
    background-color: #934acc;
    padding: 10px;
    border-radius: 5px;
}

.nullPokemon__text{
    color: white;
    margin: 0;
}