@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.pokemonCardFavorite{
    display: flex;
    height: 100px;
    align-items: center;
    border: 1px solid #934acc;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    &__text{
        margin-bottom: 5px;
        font-size: 15px;
        font-family: 'Press Start 2P', cursive;
    }
    &__icon{
        margin-left: auto;
    }
}